:root {
    --background: #262C35;
    --dark: #1C1D22;
    --primary: #3F6DD9;
    --accent: #2F3742;
    --stroke: #3F4658;
    --gray: #7881A3;
    --hover: #2B3039;
    --orange: #FF7400;
    --success: #31B456;
    --danger: #DA4931;

    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
}
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
  
html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 2px solid #f3f3f3; 
    border-top: 2px solid var(--primary);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.6s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}