{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/login/login.css')}}">
{% endblock %}

{% block content %}
<div class="form-wrapper">
    <form id="loginForm"> 
        <label>Email</label>
        <input id="emailInput" type="text" placeholder="Email" required="true">
        <label>Password</label>
        <div class="password-wrapper">
            <input id="passwordInput" type="password" placeholder="Password" required="true">
            <i id="toggleInput" class="ph ph-eye"></i>
        </div>
        <p id="errors"></p>
        <button id="loginButton" type="button">Login</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/login.js')}}"></script>
{% endblock %}