<section class="cards">
    <div class="card card-profit">
        <header>
            <i class="ph ph-currency-circle-dollar"></i>
            <h1>Lucro</h1>
        </header>
        <main>
            <h1 id="assetProfit">$ 0.00</h1>
        </main>
    </div>

    <div class="card">
        <header>
            <i class="ph ph-chart-pie-slice"></i>
            <h1>Operações</h1>
        </header>
    </div>

    <div class="card card-alerts">
        <header>
            <div>
                <i class="ph ph-bell-ringing"></i>
                <h1>Alertas</h1>
            </div>
            <aside>
                <input id="priceAlertInput" type="number" value="0.00000" step="0.00002" required="true" min="0">
                <button id="addAlertButton">
                    <i class="ph ph-plus"></i>
                </button>
            </aside>
           
        </header>
        <ul id="alertList">
            <!-- 
            <li>
                <div>
                    <i class="ph ph-bell"></i>
                    <p>${price}</p>
                </div>

                <i class="ph ph-x pointer"></i>
            </li>
            -->
        </ul>
    </div>
</section>