<aside class="history">
    <header>
        <i class="ph ph-clock-counter-clockwise"></i>
        <h1>Histórico de Trading</h1>
    </header>
    <ul id="transactionList">
        
        <!--
        <li class="transactionItem">
            <span>16:10</span>
            <main>
                <div>
                    <h1>EURUSD-OTC</h1>
                    <p>Binária</p>
                </div>
                <div>
                    <p class="positive">+$ 870</p>
                    <p>$ 1000</p>
                </div> 
            </main>
            <i class="ph ph-arrow-down negative"></i>
        </li>
        -->
    </ul>
</aside>