<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/rocket-take-off.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <title>IQ Option Bot</title>
    {% endblock %}
</head>
<body>
    {% block content %} {% endblock %}
    
    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{url_for('static', filename='js/api.js')}}"></script>
    {% endblock %}
</body>
</html>