{% extends "/dashboard/layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/home.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/cards.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/logs.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/history.css')}}">
{% endblock %}

{% block page %}
<main class="asset-content">
    
    <header id="assetHeader">
        <div class="assetInfo">
            <div id="currencies">
                <div class="loader"></div>
            </div>
            <div>
                <h1 id="assetName"></h1>
                <h2 id="assetPrice"></h2>
            </div>
        </div>
    </header>

    {% include 'dashboard/components/cards.html' %}
    {% include 'dashboard/components/logs.html' %}
    
</main>

{% include 'dashboard/components/history.html' %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/components.js')}}"></script>
<script src="{{url_for('static', filename='js/home.js')}}"></script>

{% endblock %}