{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/layout.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/sidebar.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/navbar.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/home.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/settings.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/cards.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/logs.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/history.css')}}">
{% endblock %}

{% block content %}
<div class="dashboard">
    {% include 'dashboard/components/sidebar.html' %}

    <div class="wrapper">
        {% include 'dashboard/components/navbar.html' %}
        
        <div id="page">
            
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/dashboard/components/index.js')}}"></script>
<script src="{{url_for('static', filename='js/dashboard/components/sidebar.js')}}"></script>
<script src="{{url_for('static', filename='js/dashboard/home.js')}}"></script>
<script src="{{url_for('static', filename='js/dashboard/settings.js')}}"></script>
<script src="{{url_for('static', filename='js/dashboard/index.js')}}"></script>
{% endblock %}
